.header {
    height: 50px;
    width: 100%;
    background-color: #f0a04b;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.header h3 {
    color: #183a1d;
    margin: 0px;
}

.header ul {
    list-style: none;
}

.header ul li {
    display: inline-block;
    padding: 0px 10px;
}

.header ul li .create {
    background-color: #183a1d;
    color: white;
}

.header ul li .create:hover {
    background-color: #183a1d;
    color: white;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .header {
        height: 50px;
        background-color: #f0a04b;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;
    }
}